/* Footer: View All link */
:host ::slotted([slot="footer"]) {
    text-align: center;
    display: block;
}

a {
    color: #0070d2;
    text-decoration: none;
    font-size: 0.8125rem;
}

a:hover {
    text-decoration: underline;
}
